*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
    font-family: Metropolis, -apple-system,;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2c3e50;
    height: 100px;
    font-weight: bold;
    position: sticky;
}
header h1{
    color: white;
    
}
.header-links nav ul{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    
    
}
.header-links nav ul li a{
    color: white;
    font-size: 20px;
    transition: 0.3s;
    text-decoration: none;
}
.header-links nav ul li a:hover{
    color: #1abc9c;
}

 .profile{
    background-color:#1abc9c;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile img{
    width: 200px;
    height: 254px;

}
.profile h1{
    color: white;
    font-size: 70px;
}
 .star{
    position: relative;
    margin-top: 10px;
}
 .star::before{
    content: "";
    display: block;
    background-color: white;
    width: 120px;
    height: 5px;
    position: absolute;
    right: 80px;
    top: 30px;
}
 .star::after{
    content: "";
    display: block;
    background-color: white;
    width: 120px;
    
    height: 5px;
    position: absolute;
    left: 80px;
    top: 30px;
}
 .star i{
    color: white;
    font-size: 50px;
}

.profile .text{
    margin-top: 20px;
    color: white;
    font-size: 30px;
}


.portfolio{
    
    background-color:white;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio h2{
    color: #2c3e50;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

}

.portfolio.star{
    position: relative;
    margin-top: 10px;
}
 .portfolio .star::before{
    content: "";
    display: block;
    background-color: #2c3e50;
    width: 120px;
    height: 5px;
    position: absolute;
    right: 80px;
    top: 30px;
}
.portfolio .star::after{
    content: "";
    display: block;
    background-color: #2c3e50;
    width: 120px;
    height: 5px;
    position: absolute;
    left: 80px;
    top: 30px;
}
.portfolio .star i{
    color: #2c3e50;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.portfolio img{
    width: 340px;
    height: 240px;
}

.image{
    display: flex;
    justify-content: center;  
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    transition: 0.3s;
}

 .image img :hover{
    color: #1abc9c;

}
.about{
    background-color:#1abc9c;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.about h2{
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about .right p{

    color: white;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    float: left;
    width: 30%;
    padding-left: 60px;
    padding-top: 20px;
    

}

.about .left p{

    color: white;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    float: right;
    width: 30%;
    
}

button{

    background-color:#1abc9c;
    border: 1px solid white;
    width: 190px;
    height: 60px;
    border-radius: 5px;
}

.about button i{
    color: white;
}


.about button span{

    color: white;
    font-size: medium;
}

.contact{
    background-color:white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contact h2{
    color: #2c3e50;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

}

.contact.star{
    position: relative;
    margin-top: 10px;
}
 .contact .star::before{
    content: "";
    display: block;
    background-color: #2c3e50;
    width: 120px;
    height: 5px;
    position: absolute;
    right: 80px;
    top: 30px;
}
.contact .star::after{
    content: "";
    display: block;
    background-color: #2c3e50;
    width: 120px;
    height: 5px;
    position: absolute;
    left: 80px;
    top: 30px;
}
.contact .star i{
    color: #2c3e50;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}


.form{
    display: flex;
    flex-direction: column;
    width: 900px;
    padding-left: 250px;
    margin: 50px;
    
}

.send{
    background-color:#1abc9c;
    border: 1px solid white;
    width: 90px;
    height: 40px;
    border-radius: 5px;
}

footer .first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #2c3e50;
    height: 250px;
    font-weight: bold;
    color: white;

}

.first h3{
    color: white;
   font-size: 30px;
}
.sag { 
    display: flex;
    flex-wrap: wrap;
    float: right;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    
}
.sag a{

    color: white;
}

footer .orta .linkss i{
background-color: #2c3e50;
border-radius: 50%;
border: 2px solid white;
margin: 10px;
padding: 10px;
font-size: 15px;
transition: 0.3s;

}

footer .orta .linkss i :hover{
    background-color: white;
    color: #2c3e50;
}

.sol p{
font-size: 15px;
display: flex;
align-items: center;
justify-content: space-around;

}

.sol p a{
    font-size: 15px;
    color: white;
}

.last{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0b151e;
    height: 50px;
    color: white;
}


